<div class="flex flex-col items-center justify-center h-screen bg-[#EADDC4] text-[#4A3A29]">
  <h1 class="text-3xl font-black">
    Hello <span class="px-2">[ ✦ <%= name %> ✦ ]</span>
  </h1>
  <p class="mt-4 text-lg">Your day is about to get super organized</p>
  <form action="/choose">

    <div class="flex flex-col gap-3"><button type="submit" class="mt-6 px-6 py-2 text-lg bg-[#B19471] rounded-full border border-[#3A2D1D] shadow-md">
      tap - tap 🎀
    </button>
    
    <a href='/' class="text-sm font-medium mb-6 text-center text-[#4A3A29]">
      back
    </a></div>
  
  </form> 
  </div>
